<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--最大宽度-->
        <add key="maxWidth" value="1280" />
        <!--最大高度-->
        <add key="maxHeight" value="800" />
        <!-- 图片质量(0~100) -->
        <add key="quality" value="70" />
        <!-- 文件后缀 -->
        <add key="fileExtension" value="*.jpg" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
